body {
	background-color: ivory;
}

/* Page section */

section#page{
	width: 100%;
}

/* Main section */

section#main{
	width: 70%;
}

section#main h1{
	font-size: 42px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}

section#main h2{
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}

section#main h3{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	padding-top: 10px;
	width: 100%;
}



section#main {
	margin-left: 30px;
}

section#main p {
	margin: 20px 0px 20px 0px;
	
}