/* Vertical Navigation List */

nav.vertical {
	width: 20%;
	float: right;
}

nav.vertical ul {

}

nav.vertical ul li {
   font-size: 15px;
   margin: 5px;
   
   
}

nav.vertical ul li a {
   background-color: rgb(235, 199, 152);
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 5px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  
  	-moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px; 
	box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
	
}

nav.vertical ul li a:hover {
   color: rgb(149, 125, 173);
   text-decoration: underline;
   
   
   
}